<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GestionProfesoral</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
<<<<<<< HEAD
=======
        <label class="nav-texto">TABLAS</label>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aliado">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Aliado
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="alianza">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Alianza
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="apoyo_profesoral">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Apoyo p.
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="beca">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Beca
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="docente">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Docente
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="experiencia">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Experiencia
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="evaluacion_docente">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Evaluación D.
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="estudios_realizados">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Estudios R.
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="intereses_futuros">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Intereses F.
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="red">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Red
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reconocimiento">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Reconocimiento
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="red_docente">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Red D.
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usuarios">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> USUARIOS
            </NavLink>
        </div>
>>>>>>> 516cdfc27b4e4521995c9de944146e41196d6325
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}