/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-msf2p0x9on] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    color: white;
}


.highlighted-text[b-msf2p0x9on] {
    color: black; /* Cambia el texto a color negro */
    /*font-weight: bold;  Opcional: para resaltar */
}




main[b-msf2p0x9on] {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.top-row[b-msf2p0x9on] {
    background-color: black;
    color: white;
    border-bottom: 1px solid #3a0647;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
}

    .top-row a[b-msf2p0x9on], .top-row .btn-link[b-msf2p0x9on] {
        /*color: #fff;*/
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
    }

    .top-row a:hover[b-msf2p0x9on], .top-row .btn-link:hover[b-msf2p0x9on] {
        text-decoration: underline;
    }

@media (max-width: 640.98px) {
    .top-row[b-msf2p0x9on] {
        justify-content: center;
    }

    .top-row a[b-msf2p0x9on], .top-row .btn-link[b-msf2p0x9on] {
        margin-left: 0;
        font-size: 0.9rem;
    }

}
@media (min-width: 641px) {
    .page[b-msf2p0x9on] {
        flex-direction: row;
    }

    .sidebar[b-msf2p0x9on] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-msf2p0x9on] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-msf2p0x9on]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-msf2p0x9on], article[b-msf2p0x9on] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}


/* /Layout/NavMenu.razor.rz.scp.css */
/* General */
body[b-9m9x83kvrv] {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

/* Contenedor principal */
main[b-9m9x83kvrv] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Imagen y título */
img[b-9m9x83kvrv] {
    width: 150px;
    margin-bottom: 20px;
}

h1[b-9m9x83kvrv] {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Formularios */
form[b-9m9x83kvrv] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input[b-9m9x83kvrv] {
    width: 300px;
    height: 50px; /* Aumentar altura */
    font-size: 1.2rem; /* Texto más grande */
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

button[b-9m9x83kvrv] {
    width: 300px;
    height: 50px; /* Altura consistente */
    font-size: 1.2rem; /* Texto más grande */
    background-color: purple;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover[b-9m9x83kvrv] {
    background-color: #6a0dad;
}



